/* ESTILOS GENERALES */


body {
    font-family: var(--font-main);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-size-base);
    line-height: var(--line-height-medium);
    display: flex;
    flex-direction: column;
    padding: var(--padding-medium) 0;

}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 80dvh;
    margin-top: 5rem;

}

/* Estilos para el menú móvil */
.mobile-menu {
    display: block;
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    padding: 1rem;
    z-index: 19;
    opacity: 0;
    transform: translateY(-10px);
}

.mobile-menu.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 1;
    transform: translateY(0);
    background-color: var(--color-background);
}

.mobile-menu .header_link {
    color: var(--color-text);
    font-size: var(--font-size-base);
    padding: 1rem;
    width: 100%;
    text-align: right;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
}


.mobile-menu .header_link--active {
    color: var(--color-secondary);
    font-weight: bold;
}

/* Estilos para el botón hamburguesa */
button.hamburger-menu {
    background: transparent;
    color: currentColor;
}

.hamburger-menu {
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 20;
}

.hamburger-menu svg {
    width: 24px;
    height: 24px;
}


/* Encabezado */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-small) var(--padding-medium);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: var(--color-background);
    height: 4rem;

}

.header nav {
    display: none;
}


.header_logo {
    height: 3rem;
}

.header_link {
    font-family: var(--font-main);
    color: var(--color-primary);
    text-decoration: none;
    margin-left: var(--gap-medium);
    font-size: var(--font-size-base);
}

.header_link--active {
    font-weight: bold;
    color: var(--color-secondary);
}


/* Estilos generales para secciones introductorias */

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-medium);
    text-align: center;
    flex: 1;
    justify-content: center;
}

.intro-section_title {
    font-size: var(--font-size-xxxl);
    margin-bottom: var(--gap-large);
}

.intro-section_text {
    font-size: var(--font-size-large);
    margin-bottom: var(--gap-large);
}

.general_button {
    background-color: var(--color-primary);
    color: var(--btn-text-color);
    padding: var(--gap-small) var(--gap-medium);
    border: none;
    border-radius: var(--radius-small);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.general_button:hover {
    background-color: var(--btn-bg-hover);
}


/* Media Queries */


/* Tablet */

@media (min-width: 768px) {

    .mobile-menu {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }

    .header nav {
        display: block;
    }

    .header {
        height: 4.5rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {

    .header nav {
        display: block;
    }

    .mobile-menu {
        display: none;
    }

    .header {
        height: 5rem;
    }

    .header_link {
        font-size: var(--font-size-large);
    }
}