
/* Página de explorar emociones */

.text-box {
    max-width: 47rem;
    margin: var(--gap-large) auto;
    padding: var(--gap-medium);
    background-color: var(--color-highlight);
    border: 1px solid var(--color-primary);
    box-shadow: var(--box-shadow);
}

.explore_title {
    opacity: 0;
    font-size: var(--font-size-large);
}

.explore_description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-highlight);
    box-shadow: var(--box-shadow);
    max-width: 60%;
    padding: 2rem;
    gap: 1rem;
    margin: 0 auto;
    min-height: 20rem;
    opacity: 0;
}

.explore-description_header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

.explore-description_title {
    font-size: var(--font-size-xxl);
    font-weight: bold;
    color: var(--color-text);
}

.explore-description_subtitle {
    font-family: var(--font-handwriting);
    font-size: var(--font-size-xl);
    color: var(--color-text);
}

.explore-description_line {
    height: 1px;
    background-color: var(--color-primary);
    margin: 0.5rem 0;
    width: 100%;
}

.explore-description_content {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.explore-description_image-container {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.explore-description_image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.explore_description {
    max-width: 60%;
    padding: 1rem;
    text-align: left;
}

/* Barra lateral */
.explore-description_side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-width: 3rem;
    position: relative;
}

.explore-description_latin-name {
    font-size: var(--font-size-xxl);
    font-style: italic;
    color: var(--color-text);
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.explore-description_line-side {
    width: 1px;
    background-color: var(--color-primary);
    margin: 2rem 0;
    height: 100%;
}

/* Grupo de botones */
.explore_button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    transform: scale(0);
    /* only mobile*/
    display: none;
}

.explore_button {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--color-primary);
    overflow: hidden;
    cursor: pointer;
}

.explore_button:hover {
    transform: scale(1.2);
}

/*Grupo de botones pequeños*/

.explore_button-group-small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-small);
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 var(--padding-small);
}

.emotion-button {
    background-color: var(--color-secondary);
    color: var(--color-textlight);
    padding: var(--padding-small);
    border: none;
    border-radius: var(--radius-small);
    font-size: var(--font-size-base);
    transition: all 0.3s ease;

}

/* Relleno superior del botón */
.explore_button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.explore_button:hover::before {
    background-color: var(--color-emotion-hover);
}

.explore_button-label {
    position: absolute;
    bottom: 3.5rem;
    width: 100%;
    left: 0;
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-textlight);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    opacity: 1;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.explore_instruction {
    text-align: center;
    font-size: var(--font-size-large);
    color: var(--color-text);
    margin: var(--gap-medium);
    font-family: var(--font-handwriting);
    opacity: 0;
}
