/* ESTILOS GENERALES */

body {
    font-family: var(--font-main);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-size-base);
    line-height: 1.5;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 2rem;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 80vh;
}


:root {
    --color-emotion-hover: transparent;
}

/* Encabezado */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header_logo {
    height: 50px;
}

.header_link {
    font-family: var(--font-main);
    color: var(--color-primary);
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1.1rem;
}

.header_link--active {
    font-weight: bold;
    color: var(--color-secondary);

}

/* Estilos generales aplicables a todas las secciones introductorias en las páginas. */

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    flex: 1;
}

.intro-section_title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.intro-section_text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.general_button {
    background-color: var(--btn-bg-default);
    color: var(--btn-text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.general_button:hover,
.general_button:focus {
    background-color: var(--btn-bg-hover);
}

.general_button:active {
    background-color: var(--btn-bg-active);
}

.general_button:disabled {
    background-color: var(--btn-bg-disabled);
    color: var(--btn-text-disabled);
    cursor: not-allowed;
    opacity: 0.6;
}

/* Estilos específicos para la página de inicio */

.main-container.home {
    position: relative;
    /* Asegura que el contenedor puede manejar posicionamiento de fondo */
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));

}

/* Reduce la escala del SVG */

.home_logo {
    width: 200px;
    height: auto;
    display: block;

}



.home_intro-section {

    margin-bottom: 2rem;

}

.home_title {
    color: var(--color-primary);
}

.home_text {
    color: var(--color-secondary);
}

.home_button {
    margin-top: 1rem;
}

/* Estilos específicos para la página de Explorar emociones */
/* Cuadros de Texto */
.text-box {
    max-width: 750px;
    margin: 3rem auto;
    padding: 1.5rem;
    background-color: var(--color-highlight);
    border: 1px solid var(--color-primary);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.explore_title {
    margin-bottom: 20px;
}

.explore_description-container {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--color-highlight);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    padding: 2rem;
    gap: 1rem;
    margin: 0 auto;
    height: auto;
}

/* Encabezado */
.explore-description_header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

/* Título principal */
.explore-description_title {
    font-size: 2rem;
    font-weight: bold;

    color: var(--color-text);
}

.explore-description_subtitle {
    font-family: var(--font-handwriting);
    font-size: 1.5rem;
    font-weight: bold;

    color: var(--color-text);
}

/* Línea separadora */
.explore-description_line {
    height: 1px;
    background-color: var(--color-primary);
    margin: 2rem 0;
    width: 100%;
}

/* Contenido (imagen y texto) */
.explore-description_content {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

/* Contenedor de imagen */
.explore-description_image-container {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.explore-description_image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.explore_description {
    max-width: 60%;
    padding: 1rem;
    text-align: left;
}

/* Barra lateral */
.explore-description_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    min-width: 3rem;

    position: relative;
}

/* Nombre en latín */
.explore-description_latin-name {
    font-size: 2rem;
    font-style: italic;
    color: var(--color-text);
    text-align: center; 
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    vertical-align: center;
    
}

/* Estilo adicional para línea en barra lateral */
.explore-description_side .explore-description_line {
    width: 2px;
    height: 100%;
    background-color: var(--color-primary);
}

/* Grupo de botones */
.explore_button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

/* Botones individuales */
.explore_button {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--color-primary);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
}

.explore_button:hover {
    transform: scale(1.2);
}

/* Relleno superior del botón */
.explore_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Etiqueta del botón */
.explore_button-label {
    position: absolute;
    bottom: 55px;
    width: 100%;
    left: 0;
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-textlight);
    text-transform: uppercase;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s cubic-bezier(.215, .61, .355, 1);
}

.explore_button:hover .explore_button-label {
    opacity: 1;
    animation: bounce 1s ease;
}

.explore_button:hover::before {
    background-color: var(--color-emotion-hover);
}

/* Animación de rebote para el texto */
@keyframes bounce {

    0%,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -15px, 0) scaleY(1.1)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -8px, 0) scaleY(1.05)
    }

    80% {
        -webkit-transform: translateZ(0) scaleY(.95);
        transform: translateZ(0) scaleY(.95);
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -2px, 0) scaleY(1.02)
    }
}


/* Estilos específicos para la página de generar planta*/
.plant_generation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    min-height: 70vh;
}

.plant_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    min-height: 600px;
    gap: 1rem;
}


.plant_title {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

.plant_description {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--color-text);
    margin-bottom: 30px;
}



/* Contenedor del generador SVG */
.plant_svg-generator {
    flex: 1;
    background-color: var(--color-highlight);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Estilos específicos para la página de proyecto */


.project_intro {
    text-align: start;
    padding: 2rem 0;

}

.project_title {
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
}

.project_text {
    font-size: 1.2rem;
    color: var(--color-secondary);
    line-height: 1.8;
}

.project_description,
.project_motivation,
.project_inspiration {
    padding: 2rem 0;
}

.project_text-box {
    max-width: 750px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--color-highlight);
    border: 1px solid var(--color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.project_subtitle {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.project_paragraph {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--color-text);
}